
# **Multi-criteria decision making (MCDM) using Topsis**

# Installing topsis library

In [ ]:
install.packages('topsis')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# Import the library

In [ ]:
library(topsis)

# Read the dataset

In [ ]:
mydata=read.csv('/content/Topsis-Dataset.csv')
mydata

  Model Corr Rseq RMSE Accuracy
1 M1    0.79 0.62 1.25 60.89
2 M2    0.66 0.44 2.89 63.07
3 M3    0.56 0.31 1.57 62.87
4 M4    0.82 0.67 2.68 70.19
5 M5    0.75 0.56 1.30 80.39

# Convert the dataset to Matrix

In [ ]:
d <- as.matrix(mydata[,-1]) # -1, drop 1st column
d

     Corr Rseq RMSE Accuracy
[1,] 0.79 0.62 1.25 60.89
[2,] 0.66 0.44 2.89 63.07
[3,] 0.56 0.31 1.57 62.87
[4,] 0.82 0.67 2.68 70.19
[5,] 0.75 0.56 1.30 80.39

# Assigning the impacts

In [ ]:
i <- c("+","+","-","+")
i

[1] "+" "+" "-" "+"

# Assigning the weights

In [ ]:
w <-c(1,1,1,1)
w

[1] 1 1 1 1

# Calling the topisis function

In [ ]:
topsis(d, w, i)

  alt.row score     rank
1 1       0.7722097 2
2 2       0.2255988 5
3 3       0.4388973 4
4 4       0.5238779 3
5 5       0.8113887 1

# Complete Code

In [ ]:
library(topsis)
mydata=read.csv('/content/Topsis-Dataset.csv')
d <- as.matrix(mydata[,-1]) # -1, drop 1st column
i <- c("+", "+", "-", "+")
w <- c(1,1,1,1)
topsis(d, w, i)

  alt.row score     rank
1 1       0.7722097 2
2 2       0.2255988 5
3 3       0.4388973 4
4 4       0.5238779 3
5 5       0.8113887 1